<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>DAE1 - Details</title>
</head>
<body>
<div class="container">
    <h2>Invitee Details</h2>
    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Id:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${invitee.id}">Id</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${invitee.email}">Email</p>
                </div>
            </div>
        </form>
        <td><a th:href="${'/spring4-v1/invitee'}">Invitee</a></td>
    </div>
</div>
</body>
</html>